/* Daily View Component Styles */

/* Daily View Container */
.daily-view-container {
    padding: 10px;
    overflow-y: auto;
    flex: 1; 
    height: 100%; 
    box-sizing: border-box; 
    border: 1px rgba(255, 255, 255, 0.8);
    overflow: hidden;
    border-radius: 8px; 
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.4);
}

/* Daily View Header */
.daily-view-container h2 {
    margin-top: 0;
    font-size: 1.1em;
    margin-bottom: 8px;
}

/* Remove bullet points */
.daily-view-container ul {
    list-style-type: none;
    padding-left: 0;
}

/* List items styling */
.daily-view-container li {
    font-size: 0.9em;
    margin-bottom: 8px;
    padding-left: 8px;
    text-overflow: ellipsis;
}

/* Event title in list */
.daily-view-container li strong {
    font-size: 1em;
}

/* Event notes in list */
.daily-view-container li small {
    font-size: 0.85em;
}